.container {
  border: 1px solid blue;
  position: relative;
}
/* 浮起来，不显示 */
.container input[type="checkbox"] {
  /* visibility: hidden; */
  position: absolute;
  z-index: 20;
  left: 0;
}
/* “+”号，选择器之后的第一个元素 */
.container input[type="checkbox"] + span {
  border: 1px solid red;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
}
/* 在input被选中后，给span添加一个伪元素 */
.container input[type="checkbox"]:checked + span {
  position: absolute;
  content: "";
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  z-index: 3;
  width: 30px;
  height: 30px;
  background: url(./checkbox.jpg) no-repeat center center;
}
